<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdkj.ylq">

    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    //相机
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    //阅读手机权限
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 用于读取手机联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.user.login.WelcomeAcitivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //注册
        <activity
            android:name=".module.user.login.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //登录
        <activity
            android:name=".module.user.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //登录
        <activity
            android:name=".module.user.userinfo.PersonalActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //修改手机号
        <activity
            android:name="com.cdkj.baselibrary.activitys.UpdatePhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //找回密码
        <activity
            android:name="com.cdkj.baselibrary.activitys.FindPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //支付密码修改
        <activity
            android:name="com.cdkj.baselibrary.activitys.PayPwdModifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //相机
        <activity
            android:name="com.cdkj.baselibrary.activitys.ImageSelectActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/ActivityDialogStyleBottom" />
        //基础信息认证
        <activity
            android:name=".module.certification.basisinfocert.BasisInfoCertificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //芝麻认证
        <activity
            android:name=".module.certification.ZMCertificationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <!-- 需要添加下面的intent-filter配置 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- ylq://cert.back  认证后返回标识 -->
                <data
                    android:host="cert.back"
                    android:scheme="ylq" />
            </intent-filter>
        </activity>
        //身份认证
        <activity
            android:name=".module.certification.IdCardCertificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //身份证上传
        <activity
            android:name=".module.certification.IdInfoUpLoadCertActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //消息详情
        <activity
            android:name=".module.user.userinfo.MsgDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //芝麻分数获取
        <activity
            android:name=".module.certification.ZMScoreGetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //基本信息认证填写
        <activity
            android:name=".module.certification.basisinfocert.BasisInfoCertificationWriteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //职业信息认证填写
        <activity
            android:name=".module.certification.basisinfocert.JobInfoCertificationWriteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //紧急联系人信息认证 填写
        <activity
            android:name=".module.certification.basisinfocert.EmergencyInfoWriteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //银行信息信息认证 填写
        <activity
            android:name=".module.certification.basisinfocert.BankInfoCertificationWriteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //产品详情
        <activity
            android:name=".module.product.ProductDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //人工审核 系统审核
        <activity
            android:name=".module.certification.review.HumanReviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //申请失败
        <activity
            android:name=".module.borrowmoney.ApplyFailureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //我的额度
        <activity
            android:name=".module.user.userinfo.MyMaxMoneyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //借款记录
        <activity
            android:name=".module.user.userinfo.usemoneyrecord.UseMoneyRecordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //我的优惠券
        <activity
            android:name=".module.user.userinfo.MyCouponsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //邀请
        <activity
            android:name=".module.user.userinfo.InvitaionFriendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //邀请
        <activity
            android:name=".module.borrowmoney.UseMoneySureDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //签约
        <activity
            android:name=".module.borrowmoney.SigningSureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //放款中
        <activity
            android:name=".module.borrowmoney.PutMoneyingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //借款详情
        <activity
            android:name=".module.user.userinfo.usemoneyrecord.WaiteMoneyDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //生效中详情 待还款
        <activity
            android:name=".module.user.userinfo.usemoneyrecord.UseingMoneyDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //还款
        <activity
            android:name=".module.pay.AlsoMoneyTabActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //续期支付
        <activity
            android:name=".module.pay.RenewalMoneyTabActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //续期列表
        <activity
            android:name=".module.renewal.RenewalListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //续期详情
        <activity
            android:name=".module.renewal.RenewalDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //逾期详情
        <activity
            android:name=".module.user.userinfo.usemoneyrecord.UsedMoneyDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //web
        <activity
            android:name="com.cdkj.baselibrary.activitys.WebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //添加银行卡
        <activity
            android:name="com.cdkj.baselibrary.activitys.AddBackCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //银行卡列表
        <activity
            android:name="com.cdkj.baselibrary.activitys.BackCardListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //删除修改银行卡
        <activity
            android:name="com.cdkj.baselibrary.activitys.UpdateBackCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //消息中心
        <activity
            android:name=".module.user.userinfo.MsgListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //推荐历史
        <activity
            android:name=".module.user.userinfo.HuokeListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //分享
        <activity
            android:name=".module.user.userinfo.ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogStyleBottom"
            android:windowSoftInputMode="adjustPan" />
        //通讯录认证
        <activity
            android:name=".module.certification.AddressBookCertActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //借款协议
        <activity
            android:name=".module.borrowmoney.SigningTipsWebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //合同展示
        <activity
            android:name=".module.borrowmoney.ContractShowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //魔蝎认证
        <!-- <activity android:name="com.moxie.client.MainActivity" /> -->


        <!-- 芝麻信用 -->
        <activity
            android:name="com.android.moblie.zmxy.antgroup.creditsdk.app.SDKActivity"
            android:label="芝麻信用"
            android:screenOrientation="portrait" />

        <!-- 微信支付entry -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 同盾运营商认证 -->
        <activity
            android:name=".module.TdOperatorCertActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        //高德定位
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="33a24b8158dd88ca2ce15cdb5248db90">

            <!-- android:value="7df4fcd424e36ceaad62d64f1c11de60"> -->
            //开发者申请的key
        </meta-data>
        //支付宝
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity android:name=".module.certification.all.AllCertificationListActivity" />
        <activity android:name=".module.certification.all.IdCardActivity" />
        <activity android:name=".module.user.userinfo.KeFuActivity" />
        <activity android:name=".module.certification.all.AliActivity" />
        <activity android:name=".module.stages.StagesActivity" />
        <activity android:name=".module.stages.StagesDetailsActivity" />

        <!-- ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓魔蝎认证↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ -->
        <activity android:name="com.moxie.client.MainActivity" />
        <activity
            android:name="com.moxie.client.accessible.AccessibleCrawlerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name="com.moxie.client.accessible.AccessibleCrawlerService"
            android:accessibilityFlags="flagReportViewIds"
            android:enabled="true"
            android:exported="true"
            android:label="@string/accessibility_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessible_crawler_config" />
        </service>
        <!-- ↑↑↑↑↑↑↑↑↑↑↑↑↑↑魔蝎认证↑↑↑↑↑↑↑↑↑↑↑↑↑↑ -->
        <!-- 人脸识别 -->
        <meta-data
            android:name="BMOB_CHANNEL"
            android:value="Channel ID" />

        <activity android:name=".module.user.userinfo.ShellActivity" />
        <activity
            android:name=".module.user.userinfo.CopyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/ActivityDialogStyleBottom" />
        <activity android:name=".module.certification.all.OperatorActivity"></activity>
    </application>

</manifest>